@{
    ViewBag.Title = "My Notes - SAAS Ecom Sample";
}

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To My Notes!</div>
            <div class="intro-heading">SAAS Ecom Demo</div>
            <a href="#pricing" class="page-scroll btn btn-xl">Start Free Trial</a>
        </div>
    </div>
</header>

<!-- Features Section -->
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <h3 class="section-subheading text-muted">Save all your notes! Don't forget anything</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Simple to use</h4>
                <p class="text-muted">This application is very simple to use, just sign up for the trial and check it out.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Secure</h4>
                <p class="text-muted">This application is protected using SSL encryption. All your data is safe in Microsoft Azure.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Open Source</h4>
                <p class="text-muted">This demo is available in GitHub, feel free to download the source code to understand how it is built.</p>
            </div>
        </div>
    </div>
</section>

<!-- Pricing Section -->
<section id="pricing" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pricing</h2>
                <h3 class="section-subheading text-muted">30-days FREE trial. Credit Card Not Required.</h3>
            </div>
        </div>
        <div class="row">
            <div class="promos">
                <div class="promo first">
                    <h4>Basic</h4>
                    <ul class="features">
                        <li class="brief">Basic membership</li>
                        <li class="price">$10</li>
                        <li>Some great feature</li>
                        <li>Another super feature</li>
                        <li>And more...</li>
                        <li class="buy"><a href="@Url.Action("Register", "Account", new { plan = "basic" })">Sign up</a></li>
                    </ul>
                </div>
                <div class="promo second">
                    <h4>Professional</h4>
                    <ul class="features">
                        <li class="brief">Professional membership</li>
                        <li class="price">$20</li>
                        <li>Some great feature</li>
                        <li>Another super feature</li>
                        <li>And more...</li>
                        <li class="buy"><a href="@Url.Action("Register", "Account", new { plan = "professional" })">Sign up</a></li>
                    </ul>
                </div>
                <div class="promo third scale">
                    <h4>Business</h4>
                    <ul class="features">
                        <li class="brief">This is really a good deal!</li>
                        <li class="price">$30</li>
                        <li>Some great feature</li>
                        <li>Another super feature</li>
                        <li>And more...</li>
                        <li class="buy"><a href="@Url.Action("Register", "Account", new { plan = "business" })">Free Trial</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FAQs Section -->
<section id="faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
                <h3 class="section-subheading text-muted">We have collected here some of the questions that we receive more often.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-md-offset-1 col-sm-10 col-md-10">
                <div class="col-sm-6">
                    <div class="faq">
                        <h4>Q. Can I change plans at any time?</h4>
                        <p>Yes. After you log-in to your dashboard you can upgrade / downgrade plans at any time. Your bill will be pro-rated in that case.</p>
                    </div>
                    <div class="">
                        <h4>Q. What Credit Card number can I use for this demo?</h4>
                        <p>You can use this <strong>Card Number: 4242 4242 4242 4242</strong>, any future date as expiry date and any 3 digits for CVC.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="faq">
                        <h4>Q. What types of payment do you accept?</h4>
                        <p>Currently we accept Visa, Mastercard, Discover and American Express. We do not accept PayPal. At this time we only accept payments online so we will not be able to accept a P.O., invoice you, or take an order over the phone.</p>
                    </div>
                    <div class="">
                        <h4>Q. I still have a question. How do I contact you?</h4>
                        <p>Send a tweet to @@pedropaf</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; My Notes @DateTime.UtcNow.Year</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/pedropaf/saas-ecom-my-notes-sample"><i class="fa fa-github-alt"></i></a>
                    </li>
                </ul>
                <p style="margin-top: 20px;"><a href="http://www.saasecom.org" target="_blank">Powered by SAAS Ecom</a></p>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>